input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-body);
}

label {
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-xs);
  display: block;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--primary-green);
}
.button{
    padding: var(--spacing-sm) var( --spacing-lg) ;
    border-radius: var(--border-radius-sm);
    font-size: var(  --font-size-caption);
    font-weight: var(  --font-weight-medium);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}
.btn-neutral{
  border: solid var(--border-width);
  background-color: var(--white);
  color: var(--darker-gray);
  text-shadow: 0 0 1px black;

}
.btn-good{
  border: solid var(--border-width);
  background-color: var(--success-green);
  color: var(--white);
  text-shadow: 0 0 1px rgb(238, 238, 238);
}
.button:active{
  box-shadow:inset 0 3px 3px 2px rgb(73, 73, 73);
}

