@import 'variables.css';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-md);
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-lg);
}
    
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;

}
.flex-row{
  display: flex;
  align-items: center;

}
.inline-icon{
  padding-inline-start: 0px;
}