/* @import '../../styles/compiled.css'; */
.teacher-grid{
    /* background-color: aqua; */
    padding: 20px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    
    /* grid-auto-flow: ; */

}
.teacher-card{
    height: 330px;
    width: 330px;
    display: flex;
    flex-direction: column;
    color: var(--darker-gray);
    /* background-color: var(--white); */
}
.teacher-info{
    padding:  var(  --spacing-sm) ;
    min-height: 30px;
    /* border: solid 1px black; */
    display: flex;
    gap: var(--spacing-sm);


}
.teacher-image img{
  /* border: solid 2px; */
  border-radius: 50%;
}
.teacher-info-details{
    display: flex;
    flex-direction: column;
    gap: var(  --spacing-sm);
}
.light-gray-p{
    padding: var( --spacing-sm) var(--spacing-xs);
    /* border: 1px solid; */
}
.line{
    margin-top: var(--spacing-md);
    /* background-color: var(--darker-gray); */
}
.actions{
    padding: var(--spacing-lg) 0;
    display: flex;
    gap: var(--spacing-sm);
}
.actions .btn-good{
    display: flex;
    align-items: center;
    gap: 5px;
}
.skeleton-btn-container{
    display: flex;
    gap: var(--spacing-md);
    /* border: solid red; */
}